<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Modificar categoría</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <div class="container mt-4">
        <h1>Modificar categoría</h1>
        <form th:action="@{/categories/save}" th:object="${categorias}" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" th:field="*{nombre}" required>
            </div>
            <div class="mb-3">
                <label for="pais" class="form-label">Descripción</label>
                <input type="text" class="form-control" id="descripcion" placeholder="Descripción"
                    th:field="*{descripcion}" required>
            </div>
            <div class="mb-3">
                <label for="extension" class="form-label">Productos</label>
                <input type="text" class="form-control" id="productos" placeholder="Productos" th:field="*{productos}"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a th:href="@{/categories}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>

</html>